body {
	padding:0px;
	margin:0px;
	overflow-x:hidden;
	font-family: sans-serif;
	height: 100%;
	overflow: scroll;
}

html {
	height: 100%;
	overflow: scroll;
}
/****************************************
 * 
 ****************************************/

#panel table{
	border-collapse:collapse;
	width:100%;
	text-align:left;
}

td {
	padding:3px;
}

.unit {
	font-size:75%;
}

td.data {
	text-align:right;
}

caption {
	background-color:hsl(220, 0%, 30%);
	color:white;
	font-size:100%;
	text-align:center;
	font-weight:normal;
	padding:1px;
}

/****************************************
 * 
 ****************************************/

.graph {
	height:175px;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
}

.dygraph-label.dygraph-title {
	font-size:10pt;
}

/****************************************
 * 
 ****************************************/

@media handheld {
	#graphics {
		margin-right:180px;
		margin-left:auto;
	}
	#panel input {
		width:40px;
	}
}

#panel input {
	width:60px;
}

.legendColorBox {
	display:none;
}

#button {
	text-align:center;
	margin-top:10px;
}

button {
	margin-left:auto;
	margin-right:auto;
	border-radius:7px;
}


/****************************************
 * 
 ****************************************/

a {cursor:pointer;}

input {
	text-align:right;
}

/****************************************
 * 
 ****************************************/

#graphics {
	width:auto;
	max-width:calc(100% - 250px);
	height: 100%;
	overflow: scroll;
	margin-right:200px;
	margin-left:auto;
}

@media (min-width: 1100px){
	#graphics {
		margin-right:auto;
	}
}

@media (max-width: 470px){

	#graphics {
		width:100%;
		margin-right:none;
	}
}


/****************************************
 * 
 ****************************************/


#panel{
	position:fixed;
	box-shadow:0px 0px 10px black;
	margin-top:0px;
	transition: all 1s ;
	padding:2px;

	z-index:200;
	padding-bottom:15px;
	border-radius:4px;
	text-align: center;
	right:0px;
	top:50px;
}

#panel.hidden {
	transform: translateX(100%);
	display:none
}

