
/****************************************
 * Page header
 ****************************************/

#head {
	z-index:100;
	top:0px;
	left:0px;
	padding:0px;
	width:100%;
	background-color:rgb(80, 80, 80);
	color:white;
}

#head div span:before {
	content: " - ";
}

#head div span:first-child:before {
	content: "";
}


#head-left, #head-right {
	padding-left:20px;
	padding-right:20px;
	padding-top:5px;
	padding-bottom:5px;
	display:inline;
	margin:0px;
}

#head-left {
	float:left;
	text-align:left;
}

#head-right {
	float:right;
	text-align:right;
}

